:root {
  /* main */
  --main-border: #aaaaaa;

  /* title */
  --title-background: #ffffff;
  --title-text: #000000;

  /* display */
  --display-background: #222222;
  --display-text: #ffffff;
  --display-table: #cccccc;

  --display-hi: #ff6622;
  /* --display-hi: #FF4400; */
  --display-mizu: #66eeff;
  /* --display-mizu: #88EEFF; */
  --display-kaminari: #ffcc44;
  /* --display-kaminari: #FFFF00; */
  --display-koori: #44aaff;
  /* --display-koori: #335599; */
  --display-ryu: #aaff99;
  /* --display-ryu: #770011; */
  /* --display-ryu: #6677BB; */
  /* --display-ryu: #DD4466; */

  --display-doku: #dd99ee;
  /* --display-doku: #9900bb; */
  --display-mahi: #ffff55;
  /* --display-mahi: #FFFF00; */
  --display-suimin: #aaddff;
  /* --display-suimin: #66cc44; */
  --display-bakuha: #ff8833;
  /* --display-bakuha: #ff8833; */
  --display-genki: #4466ff;
  /* --display-genki: #4466ff; */

  --display-kizetsu: #ffff55;
  /* --display-kizetsu: #FFFF00; */

  --display-otoshiwana: #99ee99;
  /* --display-otoshiwana: #33CC77; */
  /* --display-shibirewana: #dd99ee; */
  --display-shibirewana: #F7F670;
  /* --display-senkou: #ffff55; */
  --display-senkou: #EECC55;
  --display-oto: #bbbbbb;
  /* --display-oto: #aaaaaa; */
  --display-koyashi: #ddcc33;
  /* --display-koyashi: #885511; */
  --display-niku: #ff4444;
  /* --display-niku: #FF5555; */

  /* control */
  --control-background: #ffffff;
  --control-text: #000000;


}

main#main {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--title-background);
  /* border: solid 2px #aaaaaa; */
}

div#title {
  height: 10%;
  background-color: var(--title-background);
  color: var(--title-text);
  font-size: 20px;
}

/* Display */
div#display {
  height: 60%;
  background-color: var(--display-background);
  color: var(--display-text);
  font-size: 16px;
  overflow-y:scroll;
  overflow-x: hidden;
  /* scrollbar-color: red orange;
  scrollbar-width: thin; */
  padding: 10px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div#display::-webkit-scrollbar{
  display: none;
}

div.category {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.monsters {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.monster {

}

div.monster_head {
  display: flex;
}

div.monster_name {

}

div.monster_alias {

}

div.monster_body {
  display: flex;
  flex-wrap: wrap;
}

div.valid {
  border: solid 1px var(--display-table);
}

div.valid div {
  width: 20px;
  text-align: center;
}

div.valid_head {
  /* writing-mode: vertical-lr; */
  line-height: 16px;
  font-size: 16px;
  padding-top: 3px;
  height: 37px;
  border-bottom: solid 1px var(--display-table);
}

div.valid:nth-child(1) div.valid_head {
  color: var(--display-hi);
}

div.valid:nth-child(2) div.valid_head {
  color: var(--display-mizu);
}

div.valid:nth-child(3) div.valid_head {
  color: var(--display-kaminari);
}

div.valid:nth-child(4) div.valid_head {
  color: var(--display-koori);
}

div.valid:nth-child(5) div.valid_head {
  color: var(--display-ryu);
}

div.valid:nth-child(6) div.valid_head {
  color: var(--display-doku);
}

div.valid:nth-child(7) div.valid_head {
  color: var(--display-mahi);
}

div.valid:nth-child(8) div.valid_head {
  color: var(--display-suimin);
}

div.valid:nth-child(9) div.valid_head {
  color: var(--display-bakuha);
}

div.valid:nth-child(10) div.valid_head {
  color: var(--display-genki);
}

div.valid:nth-child(11) div.valid_head {
  color: var(--display-kizetsu);
}

div.valid:nth-child(12) div.valid_head {
  color: var(--display-otoshiwana);
}

div.valid:nth-child(13) div.valid_head {
  color: var(--display-shibirewana);
}

div.valid:nth-child(14) div.valid_head {
  color: var(--display-senkou);
}

div.valid:nth-child(15) div.valid_head {
  color: var(--display-oto);
}

div.valid:nth-child(16) div.valid_head {
  color: var(--display-koyashi);
}

div.valid:nth-child(17) div.valid_head {
  color: var(--display-niku);
}

div.valid_body {
  height: 20px;
}

/* Control */
div#control {
  height: 30%;
  background-color: var(--control-background);
  color: var(--control-text);
  font-size: 16px;
}